<app-navbar></app-navbar>
<h1>My Favorites</h1>
<p *ngIf="favoriteMovies.length === 0">
  You haven't added any movies to your favorites list.
</p>

<div class="movie-card">
  <mat-card *ngFor="let favorite of favoriteMovies" class="individual-card">
    <mat-card-header>
      <mat-card-title class="movie-title">{{ favorite.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ favorite.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>

    <div class="img-container">
      <img
        class="movie-image"
        src="{{ favorite.ImagePath }}"
        alt="{{ favorite.Title }}"
      />
    </div>

    <mat-card-actions class="dialog-buttons">
      <button
        mat-button
        (click)="openGenre(favorite.Genre.Name, favorite.Genre.Description)"
      >
        Genre
      </button>
      <button
        mat-button
        (click)="
          openDirector(
            favorite.Director.Name,
            favorite.Director.Bio,
            favorite.Director.Birth
          )
        "
      >
        Director
      </button>
      <button
        mat-button
        (click)="openDescription(favorite.Title, favorite.Description)"
      >
        Description
      </button>

      <button
        mat-icon-button
        (click)="removeFavoriteMovies(favorite._id, favorite.Title)"
      >
        <mat-icon class="action-button">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Bitter&family=Josefin+Sans&family=Varela+Round&display=swap");
</style>
